databases:
  - name: digital_wallet
    ipAllowList: []

services:
  - type: web
    name: rails
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec rails s"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: digital_wallet
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false